.transactionHistory {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: rgb(247, 246, 244);
  width: 1030px;
  padding: 15px;
  margin: 30px auto;
}

.tableHeader {
  background-color: #ccc;
  height: 40px;
  color: brown;
  font-weight: 400;
  font-size: 20px;
}

.tableRow {
  height: 40px;
}

.tableRow:nth-child(odd) {
  color: rgb(157, 159, 155);
}

.tableRow:nth-child(even) {
  background-color: rgba(157, 159, 155, 0.428);
  color: white;
}

.tableData {
  border: 1px solid #ccc;
  padding: 5px;
}
